@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(250, 250, 238);
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 70vh;
  /*gap: 70px; */
  background-color: white;
  border-radius: 30px;
}

.product-image2 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 70vh;
  width: 750px;
}

.product-info {
  font-size: 1.2rem;
  width: 750px;
  color: #333;
  margin-bottom: 8px;
  padding: 80px;
}

.h3 {
  font-family: montserrat, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #413f3f;
  letter-spacing: 15px;
  margin-top: 0px;
}

.name {
  font-family: Fraunces, Serif;
  font-size: 88px;
  font-weight: 00;
  line-height: 90px;
  color: rgb(39, 38, 38);
}

.product-description {
  font-family: montserrat, sans-serif;
  font-size: 30px;
  color: #535252;
  line-height: 56px;
  font-weight: 700;
  margin-top: 30px;
}

.price {
  display: flex;
  align-items: center;
  gap: 50px;
  /*margin-top: 20px;*/
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-size: 72px;
  font-family: Fraunces, serif;
  font-weight: 700;
}

.original-price {
  color: #5e5d5d;
  font-size: 30px;
  font-family: Fraunces, serif;
  text-decoration-line: line-through;
}

.button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  border: none;
  gap: 24px;
  transition: background-color 0.3s ease;
}

.image3 {
  width: 36px;
  color: rgb(255, 255, 255);
}

.cart {
  font-family: montserrat, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.button:hover {
  background-color: hsl(158, 38%, 18%);
}
